[Unit]
Description=Enable power save

[Service]
TimeoutStartSec=60
Type=oneshot
RemainAfterExit=true
ExecStartPre=/bin/wall -n "power-save.service: Activating power save in 30s"
ExecStartPre=/bin/sleep 30
ExecStart=/usr/local/bin/enable-power-save
StandardOutput=journal+console
StandardError=journal+console

[Install]
WantedBy=sysinit.target
