[Unit]
Description=Expand filesystem

[Service]
Type=oneshot
RemainAfterExit=true
ExecStart=/usr/share/expand-filesystem/script
StandardOutput=journal+console
StandardError=journal+console

[Install]
WantedBy=sysinit.target
