[Unit]
Description=Expand filesystem
Before=sysinit.target

[Service]
Type=oneshot
RemainAfterExit=true
ExecStart=/usr/share/expand-filesystem/expand-filesystem
StandardOutput=journal+console
StandardError=journal+console

[Install]
WantedBy=sysinit.target
