[Unit]
Description=Power save after 5 minutes

[Service]
TimeoutStartSec=360
Type=oneshot
RemainAfterExit=true
ExecStartPre=/bin/sleep 300
ExecStartPre=/bin/wall -n "power-save-5min-after-start.service: Activating power save in 30s"
ExecStartPre=/bin/sleep 30
ExecStart=/usr/local/bin/enable-power-save
StandardOutput=journal+console
StandardError=journal+console

[Install]
WantedBy=sysinit.target
