[Unit]
Description=Trigger watchdog with internet connection
After=network-online.target

[Service]
Restart=always
ExecStart=/usr/share/watchdog-internet-connection/script
ExecStop=/bin/sh -c 'echo "V" >> /dev/watchdog'

[Install]
WantedBy=multi-user.target
